.cast {
  color: white;
  margin-left: 20px;
}

.cast_list {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.cast_list::-webkit-scrollbar {
  display: none;
}

.cast_item {
  margin-right: 10px;
}

.cast_image_container {
  position: relative;
}

.cast_image {
  justify-content: space-between;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
  transition: transform 450ms;
  margin-right: 30px;
  border-radius: 10%;
  cursor: pointer;
}

.cast_image:hover {
  transform: scale(1.08);
  opacity: 1;
}

.cast_name {
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 60%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  color: white;
  opacity: 0;
  transition: opacity 300ms;
  border-radius: 10%;
}

.cast_item:hover .cast_name {
  opacity: 1;
}

.title {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #e50914;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
