.description {
  position: relative;
  color: white;
}

.movie_description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1.2rem;
  max-width: 600px;
  height: auto; /* Change height to auto to accommodate varying text lengths */
  font-weight: 400;
  margin-left: 20px;
}

.movie_content {
  font-weight: 900;
  font-size: 35px;
  margin-left: 50px;
  padding-top: 35vh;
  position: relative;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.movie_content > h1 {
  margin-left: 10px;
}

.vote {
  font-size: 20px;
  margin-left: 20px;
  font-family: serif;
  font-weight: 200;
}

.rat {
  display: flex;
  align-items: center;
}

.rat > img {
  height: 40px;
  width: 40px;
  padding-left: 15px;
}

.line {
  margin-left: 10px;
  margin-right: 10px;
}

.genres {
  font-size: 20px;
  margin-left: 20px;
  font-family: serif;
  font-weight: 200;
}

.btn {
  position: relative;
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem; /* Change margin-top to create space between button and movie description */
  margin-left: 10px;
  padding-top: 0.5rem;
  background-color: rgba(217, 30, 30, 0.5);
  padding-bottom: 0.5rem;
}

.btn:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.6s;
}

.description::before,
.description::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
