.row{
    color: white;
    margin-left: 20px;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.row_posters::-webkit-scrollbar{
    display: none;
}

.row_poster{
   max-height: 250px;
   object-fit: contain;
   margin-right: 10px; 
   transition: transform 450ms;
   cursor: pointer;
}

.row_poster:hover{
  transform: scale(1.08);
  opacity: 1; 
  transition: transform 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
}

